// Layout & Spacing
$transition: all 0.3s ease;

// Colors - Base
$primary: #ffffff;

// Colors - UI Elements

// Colors - Text

$text-primary: #dfe2f1;
// $active-color: #4648d4;

// Effects
$box-shadow: #00000040;
