$border-color: rgba(255, 255, 255, 0.08);

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem 1rem;
  background-color: #0f131d;
  border-top: 0.2px solid $border-color;
  color: #c0c1ff;
  z-index: 1;
  &.client-footer {
    justify-content: end;
  }

  .links-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
    a {
      text-decoration: none;
      color: #c0c1ff;
      font-size: 1rem;
      line-height: 24px;
      &:active {
        color: #c0c1ff;
      }
      &:focus-visible {
        color: #c0c1ff;
      }
    }
  }
}
