$link-color: #c8c6c8;
$active-color: #6366f1;
$nav-background-color: #0f131d;
$border-color: rgba(255, 255, 255, 0.08);
$box-background: rgba(255, 255, 255, 0.02);

.side-bar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: $nav-background-color;
  border-right: 0.5px solid $border-color;
  width: 16rem;
  position: fixed;
  z-index: 100;
  height: calc(100dvh - 5.1875rem);
  .menu-wrapper {
    width: 14.375rem;

    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ul {
      li {
        list-style: none;
        padding: 0.6875rem 1rem;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        margin-bottom: 0.5rem;
        a {
          text-decoration: none;
          color: $link-color;
          font-size: 1rem;
          line-height: 24px;
          &:active {
            color: $active-color;
          }
        }
        &:hover {
          background-color: $box-background;
        }
        &.active {
          background-color: $box-background;
          a {
            color: $active-color;
          }
        }
      }
    }

    .logout-button {
      padding: 1rem;
      display: flex;
      align-items: center;
      gap: 2rem;
      background: transparent;
      color: $link-color;
      border: none;
      cursor: pointer;
      font-size: 1rem;
      line-height: 24px;
      width: 100%;
      &:hover {
        background-color: $box-background;
      }
    }
    .lower-section {
      .flex-container {
        display: flex;
        align-items: unset;
        gap: 1rem;
        justify-content: flex-start;
        margin-top: 1rem;
        .profile-info {
          width: 73%;
          .profile-name {
            font-size: 14px !important;
            font-weight: 600;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .profile-email {
            font-size: 12px !important;
            font-weight: 400;
            color: #c7c4d7;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    display: none;
  }
}
.profile-image-wrapper {
  width: 2.375rem;
  height: 2.375rem;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid $active-color;
  &.error {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.hamburger-menu-button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
  position: fixed;
  top: 16px;
  left: 32px;
  width: max-content;
  height: max-content;
  z-index: 100;
  @media screen and (max-width: 991px) {
    display: block;
  }
}

.mobile-view-menus {
  position: fixed;
  top: 0;
  left: -280px;
  transition: 0.3s ease;
  z-index: 300;
  &.open {
    left: 0;
  }

  .mobile-navbar {
    width: 280px;
    height: 100vh;
    padding: 1rem;

    background: #111827;

    transition: 0.3s ease;

    z-index: 100;
    .mobile-drawer {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      height: 100%;
      .flex-container {
        padding: 8px 8px 8px 15px;
      }
      .menu-wrapper {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        ul {
          li {
            list-style: none;
            padding: 0.6875rem 1rem;
            display: flex;
            align-items: center;
            gap: 1.5rem;
            &.active {
              background-color: $box-background;
              a {
                color: $active-color;
              }
            }
            a {
              text-decoration: none;
              color: $link-color;
              font-size: 1rem;
              line-height: 24px;
              &:active {
                color: $active-color;
              }
            }
            &:hover {
              background-color: $box-background;
            }
          }
        }
        .logout-button {
          padding: 1rem;
          display: flex;
          align-items: center;
          gap: 2rem;
          background: transparent;
          color: $link-color;
          border: none;
          cursor: pointer;
          font-size: 1rem;
          line-height: 24px;
          &:hover {
            background-color: $box-background;
          }
        }
      }
      .lower-section {
        .flex-container {
          display: flex;
          align-items: unset;
          gap: 1rem;
          justify-content: flex-start;
          margin-top: 1rem;
          .profile-info {
            width: 73%;
            .profile-name {
              font-size: 14px !important;
              font-weight: 600;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
            .profile-email {
              font-size: 12px !important;
              font-weight: 400;
              color: #c7c4d7;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }
        }
      }

      .menu-close-button {
        outline: none;
        border: none;
        background-color: transparent;
        width: max-content;
        height: max-content;
        margin-left: auto;
      }
    }
    @media screen and (max-width: 767px) {
      width: 247px;
    }
  }
}

.drawer-backdrop {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.45);

  z-index: 200;
}
